<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="AngularTest">
    <div ng-controller="Controller" class="container">
      <h2>Test Solved</h2>
      <label>Filter | Display only patients older than</label>
      <input type="text" ng-model="query" placeholder="...years">
      <hr>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Age</th>
        </tr>
        </thead>
        <tbody>
          <tr list ng-repeat="patient in patients | orderBy:'-age' | filter: greaterThan('age', query)">
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>